* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*::selection {
  background-color: orange;
  color: white;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;

}

.main {
  overflow-x: hidden;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #0e489e;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  width: 30%;
}

.auth-container h1 {
  text-align: center;
}

.auth-container img {
  display: block;
  width: 30%;
  margin: 1rem auto;
  animation: moveRiLe 1s linear infinite alternate-reverse;
}

@keyframes moveRiLe {
  from {
    transform: translateX(-3px);
  }

  to {
    transform: translateX(3px);
  }
}

.auth-container .inputField label {
  font-size: 1.2rem;
  font-weight: 600;
}

.auth-container .inputField input {
  width: 90%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  background-color: #e3e3e3;
  color: #000;
  margin-bottom: 1rem;
}

.auth-container .auth-submitBtn button {

  padding: 0.6rem 1rem;
  margin: 0.5rem 0;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  background-color: #0e489e;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.NavBar {
  background-color: #000000bd;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 99;
}

.NavBar img {
  height: 5rem;
  width: 9rem;
}

.NavBar button {
  display: none;

}

.NavBar div {
  justify-content: space-around;
  display: flex;
  gap: 4rem;
}

.NavBar div p {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.NavBar div p::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s;
}

.NavBar div p:hover::after {
  width: 100%;
  transition: width .3s;
}


.container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  padding: 1rem;
}

.c-a {
  flex-direction: column;
  background: url('../public/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  margin-bottom: 7rem;
}

.c-a img {
  position: absolute;
  top: 9rem;
  left: 45rem;
  width: 20%;
  animation: caImgFloat 1s linear infinite alternate-reverse;
  z-index: 7;
}

.c-b {
  display: block;
  height: auto;
  background-color: #0e489e;
  padding: 0;
}

.c-b .c-wave {
  position: absolute;
  margin-top: -13rem;
  left: 0;
  z-index: 1;
}

.c-c {
  display: block;
  background-color: #3177e2;
  padding: 0;
  padding-bottom: 10rem;

}

.c-c .c-wave {
  position: relative;
  margin-top: 0rem;
  margin-bottom: -3rem;

  left: 0;
  z-index: 1;
}

.c-b h2,
.c-c h2 {
  font-size: 2rem;
  color: #fff;
  /* text-shadow: -3px -2.5px 0px #797979; */
  /* add a 3d shadow to this text element */

  letter-spacing: 1px;
  word-spacing: 7px;
  margin: -2rem auto 1rem auto;
  text-align: center;
  width: 100vw;
  z-index: 2;
}

.c-b h2::after,
.c-c h2::after {
  content: '';
  display: block;
  width: 20%;
  height: 2px;
  background: #b9b9b9;
  transition: width .3s;
  margin: auto;
}

.c-c h2 {
  margin-bottom: 2rem;
}

.c-c h2::after {
  width: 10%;
}

@keyframes caImgFloat {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-10px);
  }
}


.block {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: column;
  width: 40%;
  color: white;
  padding: 1rem;
  overflow: hidden;
}

.block p {
  margin: 3rem auto;
  line-height: 1.6;
  letter-spacing: 0.1rem;
  z-index: 9;
}

.block button {
  padding: 1rem 2rem;
  border: 2px solid #5096fe;
  outline: none;
  color: white;
  background: transparent;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
  margin-left: 0;
  overflow: hidden;
  transition: 0.1s;
}

.block button:is(:hover, :focus) {
  background: #297fff;
  color: white;
  transform: scale(0.95);
  transition: all 0.3s ease-in-out;
}

.block button:focus {
  background: #0255d2;
}

.b-a {
  margin: 5rem auto 0 3rem;
  z-index: 9;
}

.b-b {
  width: 100%;
  padding-top: 2rem;
}

.bikeImg {
  /* margin-left: 40vw; */
  position: absolute;
  top: 22rem;
  right: 0;
  z-index: 1;
  filter: drop-shadow(0 1rem 0.5rem #e58136);

}

.cardsCont {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  height: 70vh;
  margin: auto;
  padding-bottom: 23vh;
}

.b-c .cardsCont {
  width: auto;
  height: auto;
  padding-bottom: 0;
}

.cardsCont .cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cardsCont .cards .card {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 300px;
  background: #f3f3f3;
  color: black;
  border-radius: 2rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  padding: 0rem;
  padding-top: 1rem;
  border-right: 3px solid orange;
  border-bottom: 3px solid orange;
}

.cardsCont .cards .card:hover {
  transform: translateY(-10px);
  cursor: pointer;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
}

.b-c .cardsCont .cards .card:hover {
  transform: translateY(0px);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
}

.b-c .cardsCont .cards .card::after {
  content: 'View this Project';
  display: block;
  width: 70%;
  text-align: center;
  height: auto;
  padding: 0.5rem;
  background-color: #0255d2;
  filter: drop-shadow(0 0.5rem 0.5rem #0000007a);
  color: #fff;
  position: absolute;
  top: 45%;
  left: 12%;
  z-index: 2;
  border-radius: 2rem;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.b-c .cardsCont .cards .card:hover::after {
  opacity: 1;
  transform: translateY(-10px);
}

.b-c .cardsCont .cards .card:hover::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000000c2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 2rem;
  opacity: 0.5;
}

.b-c .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  z-index: 0;
}

.cardsCont .cards .card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
  padding: 0.5rem auto;
  text-align: center;
  background-color: orange;
  width: 100%;
  border-left: 5px solid rgba(168, 110, 3, 0.422);
  border-right: 5px solid rgba(168, 110, 3, 0.422);
}

.cards .card div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 1rem auto;
  width: 85%;
  padding: 0;
}

.cards .card div p {
  font-size: 0.9rem;
  font-weight: 500;
  text-align: justify;
  margin: auto;
  height: 15vh;
}

.b-c .card div p {
  margin-top: 1rem;
  font-size: 1rem;
  color: #000;
  text-align: center;
}

.cards .card div label {
  background-color: rgb(223, 223, 223);
  font-weight: 600;
  border-radius: 1rem;
  padding: 0.5rem 1rem;



}

.cards .card div progress {
  margin: 0.5rem auto;

}

.b-c {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85vw;
  height: 50vh;
  background-color: #03132b;
  color: #fff;
  padding: 1rem;
  margin: 5rem auto;
  border-radius: 2rem;
}


.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: #000000f1;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
  position: relative;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  z-index: 99;
}

a {
  text-decoration: none;
}





@media screen and (max-width:750px) {


  .auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    width: 60%;
  }


  .NavBar {
    padding: 0 0.5rem;
    height: 3rem;
  }

  .NavBar img {
    height: 2rem;
    width: 4rem;
    margin-left: -0.5rem;
  }

  .NavBar button {
    display: block;
    margin-right: 1.5rem;
    margin-top: -0.5rem;
    border: none;
    background: none;
    outline: none;
    width: auto;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
  }

  .NavBar div {
    display: none;
    position: absolute;
    top: 3rem;
    left: 0;
    height: 0;
    width: 100vw;
    background: #000000bd;
    padding: 1rem auto;
    transition: all 0.5s ease-in-out;
  }

  .NavBar div p {
    font-size: 1.1rem;
    text-align: center;
    margin: 0.5rem auto;
    width: max-content;

  }

  .secNavBar.navActive {
    height: auto;
    display: block;
  }


  .container {
    padding: 0.3rem;
  }

  .c-a {
    background: url('../public/bg.svg');
  }

  .c-a {
    margin-bottom: 0;
  }

  .c-a img {
    top: 15rem;
    left: 11rem;
    width: 50%;
  }

  .c-b {
    display: block;
    height: auto;
    background-color: #0e489e;
    padding: 0;
  }

  .c-b .c-wave {
    position: absolute;
    margin-top: -5rem;
    left: 0;
    z-index: 1;
  }

  .c-c {
    display: block;
    background-color: #3177e2;
    padding: 0;

  }

  .c-c .c-wave {
    margin-top: -0.4rem;
    margin-bottom: 0rem;

    left: 0;
    z-index: 1;
  }

  .c-b h2,
  .c-c h2 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin: -2rem auto 0 auto;
  }

  .c-b h2::after,
  .c-c h2::after {
    width: 50%;
  }

  .c-c h2 {
    margin-bottom: 2rem;
  }

  .c-c h2::after {
    width: 40%;
  }

  @keyframes caImgFloat {
    from {
      transform: translateY(0px);
    }

    to {
      transform: translateY(-10px);
    }
  }


  .block {
    width: 60%;
    padding: 0;
  }

  .block p {
    margin: 2rem auto;
    line-height: 1.3;
  }

  .block button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
  }

  .b-a {
    margin: 0 auto 0 1rem;
  }

  .b-a h1 {
    font-size: 1.5rem;
  }

  .b-a p {
    font-size: 1rem;
  }

  .b-b {
    width: 100%;
    padding-top: 2rem;
  }


  .cardsCont {
    height: 50vh;
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    padding-bottom: 5rem;
    overflow: scroll;
    scroll-snap-type: x mandatory;
  }

  .cardsCont .cards {
    gap: 2rem;
  }

  .cardsCont .cards .card {
    scroll-snap-align: start;
    width: 150px;
    height: 200px;
  }

  .cardsCont .cards .card:hover {
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
  }

  .b-c .cardsCont .cards {
    gap: 0;
  }
  .b-c .cardsCont {
    height: 100vh;
    width: 100%;
    margin: auto;
    margin-top: 0;
    padding-bottom: 0;
    overflow: auto;
    scroll-snap-type: none;
  }
  .b-c .cardsCont .cards .card {
    scroll-snap-align: start;
    width: 210px;
    height: 250px;
  }

  .b-c .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    z-index: 0;
  }

  .cardsCont .cards .card h3 {
    font-size: 1.4rem;
  }



  .cards .card div label {
    display: none;
  }

  .cards .card div progress {
    display: none;
  }

  .b-c {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85vw;
    height: 50vh;
    background-color: #03132b;
    color: #fff;
    padding: 1rem;
    margin: 5rem auto 0 auto;
    border-radius: 2rem;
  }


  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: #000000f1;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    position: relative;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    z-index: 99;
  }

  a {
    text-decoration: none;
  }

}